<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="07s94c119-2da0-42a7-9afe-ae4d45772b2d" Publisher="CN=test" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Efarmer</DisplayName>
    <PublisherDisplayName>test</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Efarmer.App">
      <VisualElements DisplayName="Efarmer" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Efarmer" ForegroundText="light" BackgroundColor="#006699">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo\WideLogo_558x270.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>